<!--{{#each pets as |p|}}-->
<!--<div> {{p}}</div>-->
<!--{{/each}}-->

<h3> What's Poppin'</h3>
<img src="img/birb.png", alt="">
<li>
<a href="../settings">Settings</a>
</li>
<li>
<a href="../birds">List of birds</a>
</li>

<form method="GET" action ="">
filter by name: <input type="text" name="name">
    <input type="submit">
</form>
<form method="POST" action ="">
    new pet name: <input type="text" name="name">
    <input type="submit" value="add">
</form>