<body style="background-color: darkseagreen">
    <div class="indexForm">
        <h1>
            Select an OS to start
        </h1>

        <form action= "http://localhost:3000/vfs" method="GET" id="yos">
            <label> Select an OS <br>
                <select name="os" form="yos" >
                    <option value="ubuntu"> Ubuntu </option>
                    <option value="debian"> Debian </option>
                    <option value="redhat"> RedHat  </option>
                </select>
            </label> <br>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>