<!doctype html>
<html lang="en">
    <head>
        <title> The Book Buzz </title>
        <link rel='stylesheet' href='/css/style.css'>
        <a href="/books"> Home </a>
        <a href="/books-new"> Add a Book </a>
    </head>
    <body>
        {{{body}}}
    </body>
</html>